body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #FFFAFB;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

.article-card {
  width: 400px;
  height: 480px;
  background: #fff;
  border-top: 2px solid #FF2625;
  border-bottom: 2px solid #FF2625;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
}

.article-card img {
  height: 326px;
}


@media screen and (max-width: 1200px) {
  /* Styles applied when the viewport width is 1200px or less */
  .article-card {
    width: calc((100% / 3) - 20px); 
  }

  
}
